[access]
	inheritFrom = OSS/ENIQ-CR-Parent
[access "refs/heads/*"]
	owner = group user/Anshuman Bhatt (EXT) (xansbha)
	owner = group user/Satish Bhadane (EXT) (zhtsaab)
	owner = group user/Virendra Salunke (xvirsal)
	create = group user/Anshuman Bhatt (EXT) (xansbha)
	create = group user/Satish Bhadane (EXT) (zhtsaab)
	create = group user/Virendra Salunke (xvirsal)
	push = group user/Anshuman Bhatt (EXT) (xansbha)
	push = group user/Satish Bhadane (EXT) (zhtsaab)
	push = group user/Virendra Salunke (xvirsal)
[access "refs/*"]
	owner = group user/EHLI JENKINS STATS FUNC ID (esjkadm100)
	owner = group user/Satish Bhadane (EXT) (zhtsaab)
	create = group user/Anshuman Bhatt (EXT) (xansbha)
	create = group user/Ashitta Silven (EXT) (zsilash)
	create = group user/Satish Bhadane (EXT) (zhtsaab)
	create = group user/Virendra Salunke (xvirsal)
	push = group user/Anshuman Bhatt (EXT) (xansbha)
	push = group user/Ashitta Silven (EXT) (zsilash)
	push = group user/Satish Bhadane (EXT) (zhtsaab)
	push = group user/Virendra Salunke (xvirsal)
	pushMerge = group user/Anshuman Bhatt (EXT) (xansbha)
	pushMerge = group user/Ashitta Silven (EXT) (zsilash)
	pushMerge = group user/Satish Bhadane (EXT) (zhtsaab)
	pushMerge = group user/Virendra Salunke (xvirsal)
	label-Code-Review = -2..+2 group user/Anshuman Bhatt (EXT) (xansbha)
	label-Code-Review = -2..+2 group user/Ashitta Silven (EXT) (zsilash)
	label-Code-Review = -2..+2 group user/Satish Bhadane (EXT) (zhtsaab)
	label-Code-Review = -2..+2 group user/Virendra Salunke (xvirsal)
	label-Verified = -1..+1 group user/Anshuman Bhatt (EXT) (xansbha)
	label-Verified = -1..+1 group user/Ashitta Silven (EXT) (zsilash)
	label-Verified = -1..+1 group user/Satish Bhadane (EXT) (zhtsaab)
	label-Verified = -1..+1 group user/Virendra Salunke (xvirsal)
	submit = group user/Anshuman Bhatt (EXT) (xansbha)
	submit = group user/Ashitta Silven (EXT) (zsilash)
	submit = group user/Satish Bhadane (EXT) (zhtsaab)
	submit = group user/Virendra Salunke (xvirsal)
